---
layout: layouts/base.njk
numberOfLatestPostsToShow: 4
fullHeader: true
eleventyExcludeFromCollections: true
---
{% include "bio.njk" %}

{% set postsCount = collections.essays | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{% set postslist = collections.essays | head(-1 * numberOfLatestPostsToShow) %}
{% include "postslist.njk" %}

{% set previousPost = collections.essays | getPreviousCollectionItem(postslist[0]) %}
{% set nextPost = collections.essays | getNextCollectionItem(postslist[numberOfLatestPostsToShow]) %}
{% include "monthnav.njk" %}
