<ol class="list-none">
{% for post in postslist | reverse %}
  <li>
    <article class="post-list-item" itemscope itemtype="http://schema.org/Article">
    {%- if post.data.image %}
    <a href="{{ post.url }}" rel="nofollow">{% image post.data.image, post.data.imagealt, "200" %}</a>
    {%- endif %}
    <section>
      <header>
        <h2>
        	<a href="{{ post.url }}" itemprop="url">
        		<span itemprop="headline">{{ post.data.title }}</span>
        	</a>
        </h2>
        <time class="small" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("DDD") }}</time>
      </header>
      <p itemprop="description">{{ post.content | striptags | truncate(280) | safe }}</p>
    </section>
    </article>
  </li>
{% endfor %}
</ol>
